@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Orbitron', sans-serif;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    
  }
  main{
    flex-grow: 1;
  }
  p{
    color: rgb(212, 211, 211);
    font-size: 1.1em;
    margin: 0;
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #fecha{
    
  }
  #hora{
    font-size: 2em;
    margin-top: 2px;
  }
.reloj{
  width: 80%;
  background-color: #8c90e5;
}

@media screen and (min-width: 992px) {
  .reloj{
    width: 25%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .reloj{
    width: 50%;
  }
}



